#id {}

.header {
    background: #00FFFF
}

div {}

* {
    font-size: 1.5rem;
}

.red-text,
.red {
    color: red;
}

.red {
    color: red !important;
}

.blue-text,
.blue {
    color: blue;
}

.green.green.text,
.green {
    color: green;
}

.yellow {
    color: yellow;
}

#pink {
    color: pink;
}

.ranbow-linear-gradient {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.my-btn {
    background-color: #00FFFF;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    padding-top: 15px;
    padding: 15px 20px;

    border-radius: 70px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px gray;
    border: 1px solid red;

    border-color: red;
    border-style: solid;
}

.my-btn:hover {
    background-color: bisque;
}

.my-btn:active {
    box-shadow: 2px 2px 2px 2px gray;
}

.cercle {
    background: #00FFFF;
    width: 100px;
    height: 100px;
    border-bottom: 100%;
    line-height: 100px;
    border: #00FFFF;
}

.message {
    padding: 3px 6px;
    border: dimgrey solid 1px;
    border-radius: 10px;
    background-color: green;
    color: white;
    display: inline-block;
    /* position:absolute;
    position: relative;*/
    position: fixed;
    position: 10px;
    top: 10px;
    right: 10px;
    transform: translateX(10px);
    transition: all 0.3s ease;
}

.message:after {
    content: attr(data-count);
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.5rem;
    color: red;
}

.message:hover {
    padding: 3px 20px;
}

.message.move {
    right: 50%;
    opacity: 0;
    transform: translateX(50%);
}

.box {
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
}

.box-center {
    display: inline-block;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
}

* {
    box-sizing: border-box;
}

.flex-box {
    border: 1px solid red;
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}